<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hci.tiendapp" >

    <application
        android:name=".TiendApp"
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Home Activity -->
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme"
            >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Categories Activity -->
        <activity
            android:name=".Categories"
             >

        </activity>


        <!-- Catalogue Activity -->
        <activity
            android:name=".Catalogue"
            android:label="@string/title_activity_catalogue"
            android:theme="@style/AppTheme"
            >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hci.tiendapp.Categories" />
        </activity>



    </application>

</manifest>
